{{!< layout }}
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">NodeCASH</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a ullamcorper tortor, sed faucibus nisl.</p>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">

        <div class="row">
          {{#each nitem}}
          <div class="card">
            <img class="img-fluid" src="{{image}}" alt="Card image cap">
            <p class="card-text">{{description}}</p>
            <div class="text-center">
              <a href="/detail/{{ id }}" class="btn btn-warning">Lihat</a>
              <a href="/edit/{{ id }}" class="btn btn-success">Ubah</a>
              <a href="/remove/{{ id }}" class="btn btn-danger">Hapus</a>
            </div>
          </div>
          {{/each}}
          <! -- END of Cards-->
        </div>

      </div>
    </div>

